#Validator Node (требует валидаторный ключ) Не хранит архив, но фильтрует только недавние леджеры.
#Диск: 20–50 GB
#RAM: 16–32 GB

[validator_token]
# вставь сюда свой токен
# пример:
# eyJ2YWxpZGF0b3Jfa2V5IjogIm5IVU... (и т.п.)

[server]
port_peer
port_rpc_admin_local

[port_rpc_admin_local]
port = 5005
ip = 127.0.0.1
protocol = http

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[node_size]
medium

[ledger_history]
2048

[node_db]
type=RocksDB
path=/var/lib/xrpld/db
online_delete=2048

[validation_quorum]
80

[sntp_servers]
time.google.com
time.windows.com

[ssl_verify]
1

[debug_logfile]
/var/log/xrpld/debug.log