#API Node (больше данных — для аналитики, API-платформ, бэкендов)
#Диск: 50–150 GB
#RAM: 4–8 GB
#История: около 3 часов

[server]
port_rpc_public
port_rpc_admin_local
port_peer
port_ws_public

[port_rpc_public]
port = 5005
ip = 0.0.0.0
protocol = http

[port_rpc_admin_local]
port = 5006
ip = 127.0.0.1
protocol = http

[port_ws_public]
port = 6006
ip = 0.0.0.0
protocol = ws
#ssl_key = /etc/letsencrypt/live/xrpl.node.staticbit.io/privkey.pem
#ssl_cert = /etc/letsencrypt/live/xrpl.node.staticbit.io/fullchain.pem
# для безопасности
#peer_authorization = required

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[node_size]
medium

[ledger_history]
10000

[node_db]
type=RocksDB
path=/var/lib/xrpld/db
online_delete=10000
open_files=3000
cache_mb=512

[database_path]
/var/lib/xrpld/db

[debug_logfile]
/var/log/xrpld/debug.log

[sntp_servers]
time.google.com
time.windows.com
time.apple.com

[ssl_verify]
1

[ips]
s1.ripple.com 51235
s2.ripple.com 51235