#Archive Node (Full History — 12+ TB)
#Диск: 12–20 TB (растёт ежедневно)
#RAM: 64–128 GB
#История: full

[server]
port_rpc_public
port_rpc_admin_local
port_ws_public
port_peer

[port_rpc_public]
port = 5005
ip = 0.0.0.0
protocol = http

[port_rpc_admin_local]
port = 5006
ip = 127.0.0.1
protocol = http

[port_ws_public]
port = 6006
ip = 0.0.0.0
protocol = ws
#ssl_key = /etc/letsencrypt/live/node.example.org/privkey.pem
#ssl_cert = /etc/letsencrypt/live/node.example.org/fullchain.pem
# для безопасности
#peer_authorization = required

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[node_size]
huge

[ledger_history]
full

[node_db]
type=NuDB
path=/var/lib/xrpld/db
max_online_delete=0

[database_path]
/var/lib/xrpld/db

[debug_logfile]
/var/log/xrpld/debug.log

[sntp_servers]
time.google.com
time.apple.com
time.windows.com

[ssl_verify]
1

[ips]
s1.ripple.com 51235
s2.ripple.com 51235

# Можно ограничить RPC команду admin синтаксисом, если нужно
# [rpc_startup]
# { "command": "log_level", "severity": "warning" }

# Квотинг запросов к RPC (опционально)
# [rpc_allow_remote]
# 0

# Опционально: включить reporting или другие плагины, если используешь

