#Light Node (минимум места — идеальная нода для кошельков, приложений)
#Диск: 6–12 GB
#RAM: 2–4 GB

[server]
port_rpc_admin_local
port_peer
port_ws_public

[port_rpc_admin_local]
port = 5005
ip = 127.0.0.1
protocol = http

[port_ws_public]
port = 6006
ip = 0.0.0.0
protocol = ws
#ssl_key = /etc/letsencrypt/live/node.example.org/privkey.pem
#ssl_cert = /etc/letsencrypt/live/node.example.org/fullchain.pem
# для безопасности
#peer_authorization = required

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[node_size]
small

[ledger_history]
256

[node_db]
type=RocksDB
path=/var/lib/xrpld/db
online_delete=256
open_files=2000
cache_mb=128

[database_path]
/var/lib/xrpld/db

[debug_logfile]
/var/log/xrpld/debug.log

[sntp_servers]
time.google.com
time.windows.com
time.apple.com

[ssl_verify]
1

[ips]
s1.ripple.com 51235
s2.ripple.com 51235